body {
    font-family: 'Segoe UI';
}

.btn-toolbar {
    margin: 0 auto;
}

#UA:hover {
    cursor: default;
}

main>.container {
    padding-top: 60px;
}

section {
    display: block;
    color: black;
    overflow: auto;
    word-wrap: break-word;
}

section p {
    font-size: 15px;
}

.navbar {
    background-color: rgb(198, 235, 215);

}